.padding-top {
    background-color: #edeff1;
    color: #28293a;
    font-size: 14px;
}

.row {
    /* background-color: #edeff1; */
    color: #020203;
}

.margin-top {
    margin: 9px
}

.font-awesome {
    display: flex;
    list-style: none;
    padding-top: 10px;
    float: right;
}

.font-awesome a {
    margin-right: 10px;
    padding-right: 30px;
}

.QUOTE {
    float: inline-end;
    padding: 10px 28px 2px 28px;
    color: rgb(238, 233, 233);
    background-color: rgb(6, 120, 67);
    margin-left: 10px;
    margin: 90px
}

.QUOTE:hover {
    background-color: darkblue;
}

.flat-header-wrap {
    background-color: white;
}

.bold {
    font-weight: bold;
    color: #edeff1;
    padding-bottom: 15px;
}

a.flat-button.smooth {
    text-decoration: none;
}